<!DOCTYPE html>
<html>
    <head>
        <title>BDD2</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            .content {
                float:left;
               
            }
            .pull-right{
                float:right;
                background-color: azure;
                margin: 20px;
            }   
            .pull-left{
                float:left;
                background-color:aliceblue;
                margin: 20px;
            }

        </style>
    </head>
    <body>
        <div class="content">
        <h1>BDD2</h1>
        <span class="pull-right">
        <table>
            <thead>
                
                <tr>ouvrage10</tr>
                
            <tr>
                
                <th>codeouvrage</th>
                <th>domaineprincipal</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data10 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
        <table>
            <thead>
                
                <tr>ouvrage11</tr>
            <tr>
                <th>codeouvrage</th>
                <th>titreouvrage</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data11 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
        <table>
            <thead>
                
                <tr>ouvrage12</tr>
            <tr>
                <th>codeouvrage</th>
                
            </tr>
            </thead>
            <tbody>
                    {% for row in data12 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>        
        <table>
            <thead>
                
                <tr>ouvrage13</tr>
            <tr>
                <th>codeouvrage</th>
                <th>maisondedition</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data13 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
    </span>
    <span class="pull-left">        
        <table>
            <thead>
                
                <tr>ouvrage30</tr>
            <tr>
                <th>codeouvrage</th>
                <th>domaineprincipal</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data30 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
        <table>
            <thead>
                
                <tr>ouvrage31</tr>
            <tr>
                <th>codeouvrage</th>
                <th>titreouvrage</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data31 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
        <table>
            <thead>
                
                <tr>ouvrage32</tr>
            <tr>
                <th>codeouvrage</th>
                
            </tr>
            </thead>
            <tbody>
                    {% for row in data32 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>        
        <table>
            <thead>
                
                <tr>ouvrage33</tr>
            <tr>
                <th>codeouvrage</th>
                <th>maisondedition</th>
            </tr>
            </thead>
            <tbody>
                    {% for row in data33 %} 
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>

                    </tr>
                {% endfor %}        
            </tbody>
        </br>
        </table>
    </span> 
</div>
    </body>
</html>